<div class="location-phone spacing-component">
  <span class="location-phone__icon">{{ include(componentMetadata.path ~ '/images/phone.svg') }}</span>
  <span class="location-phone__text">{{ phone }}</span>
</div>
