@use "../global/mixins" as *;

.uscgov-root,
.editor-styles-wrapper {
  /*
   * Color palette for this variant.
   *
   * Sets css variables for this color variant.
   * @todo: This palette may be used below to reduce complexity.
   */
  $color-variants: (
    "primary": "primary",
    "secondary": "secondary-gold",
    "accent": "accent-green"
  );
  @include set-css-color-variables-for-variants($color-variants);

  /**
   * Surface and text colors
   */

  // Secondary
  --surface-secondary-dark: var(--color-primitive-theme-secondary-gold-dark) // #A07510;
  --text-on-surface-secondary-dark: var(--color-primitive-neutral-base-light);
  --surface-secondary-lighter: var(--color-token-secondary-gold-lighter); // #FCF6E7
  --text-on-surface-secondary-lighter: var(--color-primitive-neutral-base-dark); // #080A0D

  // Secondary text
  --text-secondary-darker: var(--color-primitive-theme-secondary-gold-darker);

  /**
   * Accent
   */
  --accent: #4B7500;

  /**
   * Links, forms, and buttons
   */
  --surface-button-secondary: var(--color-primitive-theme-secondary-gold-light); // #EFD388
  --surface-button-accent: var(--accent);

  /**
   * Borders
   */
  --border-secondary: var(--color-primitive-theme-secondary-gold-primary); // #DFA611;
  --border-secondary-dark: var(--color-primitive-theme-secondary-gold-dark); // #A07510
  --border-secondary-dark: var(--color-primitive-theme-secondary-gold-dark);

}
