.homepage-hero {
  position: relative;
  background: var(--surface-primary-dark);
  border-top: 5px solid var(--accent);
  color: var(--text-on-surface-primary-darker);
}
@media (width >= 1200px) {
  .homepage-hero {
    border-bottom: 5px solid var(--accent);
    background: linear-gradient(to right, var(--surface-primary-dark) 50%, var(--surface-base-lightest) 50%);
  }
}
.homepage-hero img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.1;
  pointer-events: none;
}
@media (width >= 1200px) {
  .homepage-hero img {
    width: 40%;
  }
}

.homepage-hero__container {
  position: relative;
  z-index: 1;
}
@media (width >= 1200px) {
  .homepage-hero__container {
    display: flex;
  }
}

.homepage-hero__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 60px;
}
@media (width >= 1200px) {
  .homepage-hero__left {
    width: 30%;
    padding-right: 40px;
  }
}

.homepage-hero__right {
  margin-inline: calc(-1 * var(--container-inline-spacing));
  padding-inline: var(--container-inline-spacing);
  padding-block: 40px;
  border-top: 5px solid var(--accent);
  border-bottom: 1px solid var(--border-muted-light);
  background-color: var(--surface-base-lightest);
  color: var(--text-on-surface-base-lightest);
}
@media (width >= 1200px) {
  .homepage-hero__right {
    width: 70%;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    padding-inline: 40px 0;
  }
}
.homepage-hero__right .cta-blocks-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
@media (width >= 700px) {
  .homepage-hero__right .cta-blocks-wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.homepage-hero__right .cta-blocks-wrapper .paragraph {
  display: contents;
}
.homepage-hero__right .hero-block-secondary {
  box-shadow: 0px 4px 8px 0px rgba(64, 72, 97, 0.12);
}
.homepage-hero__right .quicklinks {
  margin-block: 32px 0;
}
.homepage-hero__right .quicklinks__title {
  font-size: 24px;
  margin-bottom: 0;
}
.homepage-hero__right .quicklinks__list {
  grid-template-columns: 1fr;
  gap: 16px 24px;
  padding-block: 16px;
}
@media (width >= 700px) {
  .homepage-hero__right .quicklinks__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.homepage-hero__title {
  margin: 0 0 16px;
  font-size: 28px;
  line-height: 33.6px;
  text-wrap: pretty;
}
@media (width >= 700px) {
  .homepage-hero__title {
    margin: 0;
    font-size: 40px;
    line-height: 1.15;
  }
}

.homepage-hero__description {
  margin: 0;
  line-height: 1.5;
  font-size: 17px;
  font-weight: 400;
}
.homepage-hero__description :first-child {
  margin-top: 0;
}
.homepage-hero__description :last-child {
  margin-bottom: 0;
}

.homepage-hero__cta-wrapper {
  margin-top: 16px;
}
.homepage-hero__cta-wrapper a:before {
  display: block;
  width: 18px;
  height: 18px;
  content: "";
  background-color: currentColor;
  -webkit-mask-image: url("images/court.svg");
  mask-image: url("images/court.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
@media (forced-colors: active) {
  .homepage-hero__cta-wrapper a:before {
    background-color: buttonText;
  }
}
/*# sourceMappingURL=homepage-toolbox-hero-featured-content.css.map */
