.wp-block-button__link[class] {
  --surface-color: var(--surface-button);
  --text-color: var(--text-on-surface-button);
  --border-color: transparent;

  background: var(--surface-color) !important; // Necessary to override editor inline styles.
  color: var(--text-color);
  border-color: var(--border-color);

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &[disabled] {
    --surface-color: var(--surface-base-medium);
    --text-color: var(--text-on-surface-base-medium);

    cursor: not-allowed;
  }


  &.has-primary-background-color {
    --surface-color: var(--surface-button);
    --text-color: var(--text-on-surface-button);
    --border-color: transparent;

    &:where(:not([disabled])):hover {
      --surface-color: var(--surface-button-dark);
    }

    &:where(:not([disabled])):active {
      --surface-color: var(--surface-button-darker);
    }
  }

  &.has-accent-background-color {
    --surface-color: var(--accent);
    --text-color: var(--text-on-surface-button);
    --border-color: transparent;

    &:where(:not([disabled])):hover {
      --surface-color: var(--accent-dark);
    }

    &:where(:not([disabled])):active {
      --surface-color: var(--accent-darkest);
    }
  }
}

.is-style-outline  .wp-block-button__link[class] {
  &.has-primary-background-color {
    --surface-color: transparent;
    --text-color: var(--text-link);
    --border-color: currentColor;

    &:where(:not([disabled])):hover {
      --surface-color: var(--surface-primary-lighter);
      --text-color: var(--text-on-surface-base-lighter--primary-dark);
      --border-color: currentColor;
    }

    &:where(:not([disabled])):active {
      --surface-color: var(--surface-primary-lighter);;
      --text-color: var(--text-on-surface-base-lighter--primary);
      --border-color: var(--border-primary-light);
    }
  }

  &.has-accent-background-color {
    --surface-color: transparent;
    --text-color: var(--accent);
    --border-color: currentColor;

    &:where(:not([disabled])):hover {
      --text-color: var(--accent-dark);
    }

    &:where(:not([disabled])):active {
      --text-color: var(--accent-darkest);
    }
  }
}
