details {
  position: relative;
}

details summary {
  list-style: none; /* Remove default arrow */
}

details summary::-webkit-details-marker {
  display: none; /* Hide the default marker in Safari */
}

.details__summary {
  padding-right: 30px; // Room for chevron.
  cursor: pointer;

  &:hover {
    color: var(--border-secondary-dark);
  }

  &::marker,
  &::-webkit-details-marker {
    content: "";
  }

  &:after {
    position: absolute;
    right: 28px;
    top: 22px;
    display: block;
    width: 10px;
    height: 10px;
    rotate: 45deg;
    content: "";
    border-bottom: solid 2px var(--border-secondary-dark);
    border-right: solid 2px var(--border-secondary-dark);

    [open] & {
      top: 25px;
      rotate: 225deg;
    }
  }

  > * {
    display: contents;
  }
}

.details__title {
  font-size: 22px;
}

.details__content {
  padding-top: var(--spacing-sm-2);
}

.details__help {
  display: inline;
  vertical-align: middle;
  margin-left: 3px;
}
