<div class="location-address spacing-component">
  <span class="location-address__icon">{{ include(componentMetadata.path ~ '/images/location_on.svg') }}</span>
  <span class="location-address__text">{{ address }}</span>
</div>
