{#
/**
 * @file
 * Default theme implementation to display an example Gutenberg block server-side.
 *
 * Available variables:
 * - block_name: The Gutenberg block name.
 * - block_content: The content of this block.
 * - block_attributes: The attributes of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *
 * @see template_preprocess_gutenberg_block()
 * @see template_preprocess_gutenberg_block__uswds__intro_text()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('gutenberg_uswds_intro_text/block-view') }}
{%
  set classes = [
    'intro-text',
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="intro-text__content">
    {{ block_content }}
  </div>
</div>
