<details{{ attributes.addClass('in-this-section')}} open>
  <summary class="in-this-section__summary">
    {{ title }}
    <span class="in-this-section__icon"></span>
  </summary>
  <div class="in-this-section__content">
    {{ list_items }}
  </div>
</details>
