$tablet_break: 'min-width: 760px';
$sidebar_break: 'min-width: 1000px';

$uscgov_mobile_break: 'max-width: 1399px';
$toolbox_mobile_break: 'max-width: 1023px';

$uscgov_desktop_break: 'min-width: 1400px';
$toolbox_desktop_break: 'min-width: 1024px';
