{#
/**
 * @file
 * Default theme implementation to display an example Gutenberg block server-side.
 *
 * Available variables:
 * - block_name: The Gutenberg block name.
 * - block_content: The content of this block.
 * - block_attributes: The attributes of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *
 * @see template_preprocess_gutenberg_block()
 * @see template_preprocess_gutenberg_block__uswds__alert()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('gutenberg_uswds_table/block-view') }}

{%
  set classes = [
    'usa-table-container--scrollable',
    'full-width-content',
    block_attributes.sortable or block_attributes.searchable ? 'with-features',
    block_attributes.borderless ? 'usa-table--borderless',
    block_attributes.striped ? 'usa-table--striped',
    block_attributes.fixedLayout ? 'fixed-layout',
  ]
%}
{% set adv_table_id = 'id-' ~ random() %}
<div {{ attributes.addClass(classes).setAttribute('id', adv_table_id).setAttribute('tabindex', '0') }}>
  {% if block_attributes.searchable %}
    <label class="usa-label" for="input-type-text">{{ 'Search'|t }}</label>
    <input
      class="usa-input search"
      id="input-type-text"
      name="input-type-text"
      type="text"
    />
  {% endif %}
  {{ block_content }}
</div>
