/*
 * @file
 * Styling for JS generated checkboxes within Search API facets.
 */
@use "sass:math";
@use "../../global/variables" as *;
@use "uswds-core" as *;

.facets-checkbox {
  // The actual input element is only visible to screen readers, because
  // all visual styling is done via the label.
  @include sr-only();

  &:focus + label::before {
    outline: .25rem solid var(--focus-ring);
    outline-offset: .25rem;
  }

  &:disabled,
  &[aria-disabled="true"] {
    @include format-input {
      cursor: not-allowed;
    }
    @include format-label {
      color: color("disabled");
      cursor: not-allowed;

      @media (forced-colors: active) {
        color: color(GrayText);
      }
    }
  }
}

.facets-checkbox:checked + label:before,
.active-checkbox > label:before{
  background-position: center center;
  background-size: .75rem auto;
  background-image: url(#{$uswds-img-path}/correct8.svg), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-color: var(--border-primary);
  box-shadow: 0 0 0 1px var(--border-primary);
}

.facets-checkbox:indeterminate + label {
  &:before {
    background-color: var(--border-primary);
    box-shadow: 0 0 0 1px var(--border-primary);
  }

  &:after {
    position: absolute;
    left: 6px;
    top: 0.65rem;
    width: 12px;
    height: 0;
    border-top: solid 2px white;
    content: "";
  }
}

.facets-checkbox + label {
  @extend %block-input-general;
  cursor: pointer;
  display: inherit;
  font-weight: font-weight("normal");
  margin-top: units(1.5);
  padding-left: units($input-select-margin-right) +
    units($theme-input-select-size);
  position: relative;

  &::before {
    box-shadow: 0 0 0 1px var(--border-form);
    content: " ";
    display: block;
    left: 0;
    margin-left: units($theme-input-select-border-width);
    margin-top: math.div(
      (
        line-height($theme-form-font-family, $theme-input-line-height) *
          font-size($theme-form-font-family, $theme-body-font-size) -
          units($theme-input-select-size)
      ),
      2
    );
    position: absolute;
  }
}

.facets-checkbox + label::before {
  @include u-square($theme-input-select-size);
  border-radius: radius($theme-checkbox-border-radius);
}
