.related-documents {
  margin-bottom: var(--spacing-component);
  padding: 40px;
  border-radius: 30px;
  border: 1px solid var(--border-muted-dark);
  box-shadow: 0px 4px 8px 0px rgba(64, 72, 97, 0.12);
}

.related-documents__title {
  margin: 0 0 4px;
  font-family: var(--sans);
  font-size: 24px;
}

.related-documents__description {
  color: var(--text-on-surface-base-light);
  font-size: 14px;
}

.related-documents__documents {
  margin: var(--spacing-sm-3) 0 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    position: relative;
    display: block;
    padding: 16px 48px;
    border-top: solid 1px var(--border-muted-dark);
    text-decoration: none;
    color: var(--text-on-surface-base-light);

    &:hover {
      background: var(--surface-primary-lighter);

      &:before {
        position: absolute;
        right: 9px;
        top: calc(50% + 1px);
        translate: 0 -50%;
        display: block;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        content: "";
        background: var(--surface-button-dark);
      }

      &:after {
        background: var(--surface-primary-lighter);
      }
    }

    &:after {
      position: absolute;
      right: 16px;
      top: 50%;
      translate: 0 -50%;
      display: block;
      width: 20px;
      height: 20px;
      content: "";
      mask-image: url('images/download.svg');
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background: var(--surface-button-dark);

      @media (forced-colors: active) {
        background: LinkText;
      }
    }

    .usc-icon {
      position: absolute;
      left: 16px;
      top: 50%;
      translate: 0 -50%;
      background: var(--surface-button-dark);

      @media (forced-colors: active) {
        background: LinkText;
      }
    }

    .filesize {
      font-size: 13px;
    }
  }

  li:last-child a {
    border-bottom: solid 1px var(--border-muted-dark);
  }
}
